# Backend config
HOST=127.0.0.1
PORT=4000

# UzbekVoiceAI API
UZBEKVOICEAI_API_KEY=your_api_key_here
UZBEKVOICEAI_STT_URL=https://uzbekvoice.ai/api/v1/stt
UZBEKVOICEAI_STT_LANGUAGE=uz
UZBEKVOICEAI_STT_BLOCKING=true
UZBEKVOICEAI_STT_RETURN_OFFSETS=false
UZBEKVOICEAI_STT_RUN_DIARIZATION=false
UZBEKVOICEAI_TTS_URL=https://uzbekvoice.ai/api/v1/tts
UZBEKVOICEAI_TTS_MODEL=lola
UZBEKVOICEAI_TTS_BLOCKING=true

# Gemini
GEMINI_API_KEY=AIzaSyAT5MXbmKU3X_CnsjgVhH2JeO94sdsj0zU
GEMINI_MODEL=gemini-2.5-flash
GEMINI_MAX_OUTPUT_TOKENS=450
GEMINI_DESIGN_MAX_OUTPUT_TOKENS=1800
# GEMINI_SYSTEM_PROMPT_APPEND=Bu yerga loyihaga xos qo'shimcha prompt yozishingiz mumkin
